<form [formGroup]="form">
  <input type="text" placeholder="Количество источников" formControlName="sourceSize">
  <input type="text" placeholder="Количество приборов" formControlName="bufferSize">
  <input type="text" placeholder="Количество буферов" formControlName="devicesSize">
  <input type="text" placeholder="Количество заявок" formControlName="requestsSize">


  <div>
    <button type="submit" (click)="run()">run</button>
  </div>

</form>

<table>
  <tr>
    <th>Объект</th>
    <th>Время</th>
    <th>Событие</th>
    <th>Количество заявок</th>
    <th>Количество отказов</th>
  </tr>
  <tr *ngFor="let event of events">
    <td>{{event.source}}</td>
    <td>{{event.time | date:'h:mm:ss a'}}</td>
    <td>{{event.availability}}</td>
    <td>{{event.localRequests}}</td>
    <td>{{event.rejectNumber}}</td>
  </tr>
</table>
